body {
background:url(../../img/intranet/site/stripe.png);
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0e4354;
margin:0 auto;
padding:0
}

a {
color:#2a9dd9;
text-decoration:none
}

h2 {
font-size:24px;
color:#2a9dd9;
font-weight:400;
margin-bottom:20px;
padding:0 0 15px
}

h3 {
font-size:18px;
color:#2a9dd9;
font-weight:400;
float:left;
clear:both;
margin:0;
padding:15px 0 5px 20px
}

a.forgot_pass {
float:right;
color:#2a9dd9;
text-decoration:none;
background:url(../../img/intranet/site/help.png) no-repeat left;
display:block;
margin:15px 20px 0 0;
padding:0 0 0 18px
}

.left{
float:left;
}

#main_container {
width:900px;
margin:0 auto;
padding:0
}

.header {
width:900px;
height:50px;
margin:0 auto
}

.fixed-width {
width:450px;
}

.40width {
width:10%
}

.logo {
padding-bottom:20px
}

label {
font-size:16px
}

.right_header {
color:#FFF;
width:890px;
padding:7px 0 0
}

.right_header a {
text-decoration:underline;
color:#FFF;
font-weight:700
}

.right_header a.messages {
background:url(../../img/intranet/site/comment.png) no-repeat right;
padding-right:20px
}

.right_header a.logout {
background:url(../../img/intranet/site/user_logout.png) no-repeat 75px;
padding-right:25px
}

.right_header a.profil {
text-decoration:underline;
padding-right:10px
}

.message-bienvenue {
float:left
}

.main_content {
width:900px;
height:auto;
background-color:#fff;
margin:0 auto;
padding:0 0 50px
}

.footer {
width:900px;
height:87px;
background:url(../../img/intranet/site/footer.png) no-repeat center top;
margin:0 auto
}

.left_footer {
float:left;
color:#a8549b;
font-size:11px;
padding:25px 0 0 10px
}

.right_footer {
float:right;
padding:25px 10px 0 0
}

.left_footer_login {
float:left;
color:#a8549b;
font-size:11px;
padding:15px 0 0 10px
}

.right_footer_login {
float:right;
padding:15px 10px 0 0
}

.barre_haut {
margin-top:20px;
float:left;
height:34px;
width:880px;
background:url(../../img/intranet/site/menu_bg.png) no-repeat center top;
padding:0 10px
}

.left_content {
width:195px;
float:left;
padding:30px 0 0 20px
}

.right_content {
width:625px;
float:left;
padding:30px 0 0 30px
}

.sidebarmenu {
width:195px;
margin:0;
padding:0
}

.sidebarmenu a.menuitem {
background:url(../../img/intranet/site/sidebar_menu_top.png) no-repeat center top;
color:#fff;
display:block;
position:relative;
width:185px;
height:31px;
line-height:31px;
text-decoration:none;
margin:0 0 5px;
padding:0 0 0 10px
}

.sidebarmenu a.menuitem_green {
background:url(../../img/intranet/site/green_bt.png) no-repeat center top;
color:#fff;
display:block;
position:relative;
width:185px;
height:31px;
line-height:31px;
text-decoration:none;
margin:0 0 5px;
padding:0 0 0 10px
}

.sidebarmenu a.menuitem_red {
background:url(../../img/intranet/site/red_bt.png) no-repeat center top;
color:#fff;
display:block;
position:relative;
width:185px;
height:31px;
line-height:31px;
text-decoration:none;
margin:0 0 5px;
padding:0 0 0 10px
}

.sidebarmenu a.menuitem:hover {
background:url(../../img/intranet/site/sidebar_menu_top_a.png) no-repeat center top
}

.sidebarmenu a.menuitem_green:hover {
background:url(../../img/intranet/site/green_bt_a.png) no-repeat center top
}

.sidebarmenu a.menuitem_red:hover {
background:url(../../img/intranet/site/red_bt_a.png) no-repeat center top
}

.sidebarmenu a.menuitem:visited,.sidebarmenu .menuitem:active {
color:#FFF
}

.statusicon_plus {
position:absolute;
width:11px;
height:11px;
top:11px;
right:7px;
border:none;
background-image:url(../../img/intranet/site/plus.gif)
}

.statusicon_minus {
position:absolute;
width:11px;
height:11px;
top:11px;
right:7px;
border:none;
background-image:url(../../img/intranet/site/minus.gif)
}

.sidebarmenu div.submenu {
background:#FFF
}

.sidebarmenu div.submenu ul {
list-style-type:none;
margin:0;
padding:0 0 5px
}

.sidebarmenu div.submenu ul li {
border-bottom:1px dotted #bfd1d9
}

.sidebarmenu div.submenu ul li a {
display:block;
color:#000;
text-decoration:none;
padding:5px 0 5px 10px
}

.sidebarmenu div.submenu ul li a:hover {
background:#e2f0ff;
color:#0e4354
}

.checkall {
text-align:center;
background-color:red
}

.sidebar_search {
background:url(../../img/intranet/site/sidebar_search.png) no-repeat center;
width:195px;
height:31px;
margin:0 0 5px
}

input.search_input {
width:155px;
height:20px;
border:1px #f2c783 solid;
background:#f2c783;
float:left;
color:grey;
font-size:14px;
margin:5px 0 0 5px;
padding:0 0 0 2px
}

input.search_submit {
float:left;
background:none;
border:none;
margin:7px 0 0 8px
}
/******************************** TABLEAUX ***********************************/
#rounded-corner {
width:100%;
text-align:left;
border-collapse:collapse;
font-size:12px;
margin:0
}

#rounded-corner thead th.rounded-company {
background:#2a9dd9 url(../../img/intranet/site/left.png) left top no-repeat;
text-align:center
}

#rounded-corner thead th.rounded-q4 {
background:#2a9dd9 url(../../img/intranet/site/right.png) right top no-repeat
}

#rounded-corner th {
font-size:13px;
color:#fff;
font-weight:700;
background:#2a9dd9;
text-align:center;
padding:8px
}

#rounded-corner td.text {
background:#ecf8fd;
border-top:1px solid #fff;
text-align:left;
color:#669;
padding:8px
}

#rounded-corner td {
background:#ecf8fd;
border-top:1px solid #fff;
text-align:center;
color:#669;
padding:8px
}

.foot {
background:#ecf8fd;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

#rounded-corner tbody tr:hover td {
background:#d2e7f0
}

.align_checkbox td,.align_checkall tr td {
text-align:center;
}
/*************************** POP UP QUESTION ***************************************/
.question {
position:absolute;
display:inline;
text-align:center;
width:174px;
height:78px;
font-size:13px;
line-height:1.5em;
background:url(../../img/intranet/site/bubble.png) left top no-repeat;
text-shadow:0 1px 0 #fff;
margin-left:-7em;
margin-top:-6em;
opacity:0;
padding:10px 0 0
}

.yes {
margin-top:.5em;
margin-right:.5em;
cursor:pointer;
display:inline-block;
width:63px;
height:21px;
color:#434d17;
text-shadow:0 1px 0 #fff;
background:url(../../img/intranet/site/buttony.png) left top no-repeat
}

.cancel {
margin-top:.5em;
margin-right:.5em;
cursor:pointer;
display:inline-block;
width:63px;
height:21px;
color:#fff;
text-shadow:0 1px 0 #000;
background:url(../../img/intranet/site/buttonn.png) left top no-repeat
}

.warning_box {
clear:both;
background:url(../../img/intranet/site/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;
background-position:15px 10px;
padding:10px 10px 15px 50px
}

.valid_box {
clear:both;
background:url(../../img/intranet/site/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;
background-position:15px 10px;
padding:10px 10px 15px 50px
}

.error_box {
clear:both;
background:url(../../img/intranet/site/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;
background-position:15px 10px;
padding:10px 10px 15px 50px
}
/*********************************************************************/
a.bt_green {
display:block;
float:right;
line-height:31px;
text-decoration:none;
color:#FFF;
text-shadow:1px 1px #8fa42b;
margin:10px 5px
}

a.bt_green strong {
width:auto;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_green_center.png) repeat-x center;
padding:0 10px
}

a.bt_green span.bt_green_lft {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_green_left.png) no-repeat center right
}

a.bt_green span.bt_green_r {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_green_r.png) no-repeat center right
}

a.bt_blue {
display:block;
float:right;
line-height:31px;
text-decoration:none;
color:#FFF;
text-shadow:1px 1px #3597bf;
margin:10px 5px
}

a.bt_blue strong {
width:auto;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_blue_center.png) repeat-x center;
padding:0 10px
}

a.bt_blue span.bt_blue_lft {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_blue_left.png) no-repeat center right
}

a.bt_blue span.bt_blue_r {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_blue_r.png) no-repeat center right
}

a.bt_red {
display:block;
float:right;
line-height:31px;
text-decoration:none;
color:#FFF;
text-shadow:1px 1px #c24739;
margin:10px 5px
}

a.bt_red strong {
width:auto;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_red_center.png) repeat-x center;
padding:0 10px
}

a.bt_red span.bt_red_lft {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_red_left.png) no-repeat center right
}

a.bt_red span.bt_red_r {
width:10px;
height:31px;
display:block;
float:left;
background:url(../../img/intranet/site/bt_red_r.png) no-repeat center right
}
/************************************************************************/
.sidebar_box {
width:195px;
padding:15px 0 5px
}

.sidebar_box_top {
width:195px;
height:8px;
background:url(../../img/intranet/site/sidebar_box_top.gif) no-repeat center bottom
}

.sidebar_box_bottom {
width:195px;
height:8px;
background:url(../../img/intranet/site/sidebar_box_bottom.gif) no-repeat center bottom
}

.sidebar_box_content {
width:175px;
height:auto;
background-color:#ecf8fd;
padding:0 10px
}

.sidebar_box_content h3 {
color:#49bae8;
float:left;
font-size:18px;
font-weight:400;
margin:0;
padding:0
}

.sidebar_box_content h4 {
color:#f75744;
float:left;
font-size:18px;
font-weight:400;
margin:0;
padding:0
}

.sidebar_box_content h5 {
color:#a4bf40;
float:left;
font-size:18px;
font-weight:400;
margin:0;
padding:0
}

.sidebar_box_content p {
clear:both;
font-size:11px;
text-align:left;
line-height:17px;
margin:0;
padding:5px 0
}

img.sidebar_icon_right {
float:right;
padding:0
}

.sidebar_box_content ul {
list-style:none;
clear:both;
margin:0;
padding:10px 0
}

.sidebar_box_content ul li {
background:url(../../img/intranet/site/list_bullet.gif) no-repeat left top;
background-position:0 10px;
padding:5px 0 5px 10px
}
/********************************** PAGINATION *****************************************/
div.pagination {
text-align:left;
float:left;
clear:both;
font-size:11px;
margin:0;
}

div.pagination a {
margin-right:2px;
border:1px solid #2a9dd9;
text-decoration:none;
color:#2a9dd9;
padding:2px 5px
}

div.pagination a:hover,div.pagination a:active {
border:1px solid #2a9dd9;
color:#fff;
background-color:#2a9dd9
}

div.pagination span.current {
margin-right:2px;
border:1px solid #2a9dd9;
font-weight:700;
color:grey;
padding:2px 5px
}

div.pagination span.disabled {
margin-right:2px;
border:1px solid #f3f3f3;
color:#ccc;
padding:2px 5px
}
/*************************** LISTE ARTICLES ******************************/
.article {
box-shadow:5px 5px 5px #ddd;
border-radius:10px;
border:1px solid #D3D3D3;
margin-bottom:20px
}

#article_header {
padding: 10px 0 20px 10px;
}

.name a {
text-align:left;
font-size:22px;
height:50px;
color:#000000;
font-weight:400
}

/*.separe {
background: url(../../img/intranet/site/hr.png) no-repeat scroll left top transparent;
clear: both;
height: 19px;
margin: 15px 0 0 -5px;
}*/

.contenu {
padding-left:10px;
padding-right:10px
}
/******************************** VIEW ARTICLE ***********************************/
.view_article {
box-shadow:5px 5px 5px #ddd;
border-radius:10px;
border:1px solid #D3D3D3;
margin-bottom:35px;
padding:10px
}

.titre {
text-align:right;
font-size:22px;
height:50px;
color:#c82987;
font-weight:400
}

.titre_wysi {
font-size:16px;
margin-bottom:8px
}

.info_dat,.info_cat {
float:left;
color:#f69f14;
font-weight:700;
margin-right:30px
}

.info_aut {
float:float;
color:#f69f14;
font-weight:700
}
/**************************** COMMENTAIRE ***********************************/
.commentaire {
float:right;
box-shadow:5px 5px 5px #ddd;
border-radius:10px;
border:1px solid #D3D3D3;
width:97%;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
padding:10px
}

.commentaire-top {
border-radius:10px 10px 0 0;
text-indent:10px;
color:#000000;
margin:-10px -10px 10px
}

.add-commentaire {
float:right;
box-shadow:5px 5px 5px #ddd;
border-radius:10px;
border:1px solid #D3D3D3;
width:97%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
padding:10px
}
/****************** PROFIL *********************/
#profil {
box-shadow:5px 5px 5px #ddd;
border-radius:10px;
border:1px solid #D3D3D3;
margin-bottom:60px;
padding:10px
}

.photo {
background:url(../../img/intranet/site/silhouette.png);
border:1px solid grey;
height:170px;
width:132px;
text-align:center;
float:left;
margin-right:48px;
}

.label {
font-size:18px;
width:30%;
width:30%;
color:#e3a217;
font-weight:400;
float:left
}

.info_fix {
padding-top:40px;
margin-left:45px;
text-align:left;
font-weight:700
}

.info td {
padding-bottom:10px;
margin-right:80px
}

.doc {
list-style-type:none;
color:#000;
font-weight:700;
margin-top:10px
}

.fichier {
list-style-type:none
}

.icone {
margin-right:10px;
vertical-align:bottom
}

#ckfinder {
width:100%;
height:500px;
overflow:hidden
}

.message{
background-size: 40px 40px;
background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
					transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
					transparent 75%, transparent);										
box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
width: 605px;
border: 1px solid;
color: #fff;
padding: 10px;
border-radius:10px;
text-shadow: 0 1px 0 rgba(0,0,0,.5);
animation: animate-bg 5s linear infinite;
margin-bottom:15px;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

.error {
background-color:#de4343;
border-color:#c43d3d
}

.warning {
background-color:#eaaf51;
border-color:#d99a36
}

.success {
background-color:#61b832;
border-color:#55a12c;
}

.message h3 {
margin:0 0 5px
}

.message h4 {
margin:0 0 5px;
font-size:16px;
}

.message p {
font-size:14px;
margin:0
}

to {
background-position:-80px 0
}

.clear,.center_content {
clear:both
}

.header_login,.footer_login {
width:600px;
margin:auto
}

.liens-barre-infos,.date {
float:right
}

.left_footer a,.left_footer_login a {
color:#FFF;
text-decoration:none
}

a:hover.bt_green,a:hover.bt_blue,a:hover.bt_red {
text-decoration:underline
}

/******************************* UPLOAD MULTIPLE ****************************/
.cocheAll {
padding-left:7px;
}

/******************************* TOOLTIP ****************************/
.tipsy { padding: 15px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../../img/intranet/site/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 10px; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }